@inject NavigationManager Navigation

@page "/"

<PageTitle>Home</PageTitle>


<button @onclick="onClickMethod"> Click me !</button>


@code{
    void onClickMethod()
    {
        Navigation.NavigateTo("/timer");
    }
}
